{{template "header.html"}}

<body class="flex flex-col-reverse">
    {{template "form.html"}}

    <div class="ui-info">
        {{- /* Display the following line if user doesn't fill all fields */ -}}
        {{ if .Error }}
        <p class="border border-red-500 rounded bg-red-200/75 text-red-500 p-2 m-2">Please all fields are required!</p>
        {{ end }}


        {{- /* Display the following line if user fills all fields */ -}}
        {{if .Success }}
        <p class="border border-green-500 rounded bg-green-200/75 text-green-500 p-2 m-2">
            Registration successfull. You'll get an email confirmation soon!
        </p>
        {{ end }}
    </div>


</body>

</html>